activity - Copy.csv
activity.csv
histogram.html
histogram.r
homework1.html
homework1.R
myfirstrmarkdown.html
homework1.rmd
myfirstrmarkdown.rmd
PA1.html
PA1.md
PA1_files/figure-html/unnamed-chunk-2-1.png
PA1_files/figure-html/unnamed-chunk-4-1.png
RMarkdownCheatSheet.pdf
PA1_template_old.Rmd